/* FONTS */
  @import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Edu+NSW+ACT+Foundation&family=Fira+Sans&family=Quicksand:wght@300&family=Rajdhani:wght@300&family=Tinos:ital@1&display=swap');
  @import url('assets/fonts/GraphikRegular.ttf');
  @import url('assets/fonts/GraphikMedium.ttf');

  @font-face {
    font-family: GraphikRegular;
    src: url("assets/fonts/GraphikRegular.ttf");
 }

/* TUM SITELER ICIN KULLANILAN SIFIRLAMA KODLAR */
*,
*::before,
*::after,
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
    font-family: GraphikRegular;
}

a,
a:link,
a:visited{
    text-decoration: none;
    outline: none;
    border: none;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

section,
span,
p {
    margin: 0;
    padding:0;
    outline: none;
    border: none;
}

/* HEADER */
.header{
    background-color: #5952e4;
    max-width: 100%;
    height: 75vh;
}
.header-navbar{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    padding-top: 50px;
}
    .menu-items ul{
        align-items: center;
        justify-content: flex-end;
    }
    .main-menu-header{
        display: flex;
        margin-left:auto;
    }
    .main-menu-header li > a {
        color: white;
        font-size: 14px;
        padding-left: 25px;
    }
    .enter{
        border: 1px solid;
        color:#fff;
        border-radius: 25px;
        padding-right: 20px;
        margin-left: 25px;
    }

/* HEADER TEXT */
.header-text{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content:center;

}
.header-about-img img{
    width: 100%;
    height: 100%;
    margin:35px 0 35px 0;
}
.header-about-text{
    margin-bottom: 50px;
    position: relative;
}
.header-about-text::after{
    content: "";
    background: url(dots.svg);
    position: absolute;
    width: 120px;
    height: 44px;
    opacity: 0.5;
    left: -21px;

}
.icons-header{
    width: 1133px;
    height: 765px;
}


/* Main-Menu */
.main-menu{
    margin-top: 370px;
}
.box{
    background: #fff;
    margin-top: 100px;
    height: 290px;
    border-radius: 10px;
    padding: 30px;
    box-shadow:  0 15px 60px 0 rgba(50,46,127,.17);
}
.main-menu-two{
    background: #eeeff6;
    margin-top: -195px;
    padding-top: 360px;
}

/* Main-Menu-Two */
.coins img {
    margin-left: 25px;
    
    max-width: 100%;
    margin-bottom: -60px;
}
.coins-text h2{
    color: #24242a;
    padding-left: 70px;
}
.coins-text-ul{
    margin-top: 20px;
    padding-left: 70px;
}
.coins-text-ul li{
    list-style:disc;
    padding-top: 10px;
    font-size: 18px;

}

/* REFERANSLAR (Main-Menu-Three) */
.main-menu-three h2{
    text-align: center;
}
.main-menu-three .container{
    max-width: 1200px;
    margin-top: 150px;
    background: #fff;
    box-shadow: 0 15px 60px 0 rgba(50,46,127,.17);
    border-radius: 15px;
    padding: 30px;
}
.bctr-img img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


/* Main-Menu-Four */
.main-menu-four{
    padding-top: 215px;

}
.main-menu-four .container{
    max-width: 1200px;

}
.main-menu-four .container h4{
    padding:15px 0 25px 0;
}
.container .twitter-img img{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.btn-outline{
  background-color: #fff;
  border-radius: 25px;
  color: #5952e4;
  border: 1px solid #5952e4;
  text-align: center;
}

/* Main-Menu-Five */

.main-menu-five .container{
    padding-top: 120px;

}
.main-menu-five .container .box{
    background: #eeeff6;
    border-radius: 10px;
    padding: 100px 150px 120px;
    height: 500px;
    position: relative;
}
.row.kit{
    margin-top: 70px;
    position: absolute;
    margin:50px 200px;
}
.kit-left{
    background-color: #fff;
    margin-right: 15px;
    height: 200px;
    border-radius: 10px;
    padding: 13px 50px;
    font-size: 10px;

}
.kit-right{
    background-color: #fff;
    border-radius: 10px;
    height: 200px;
    padding: 13px 50px;

}
.kit-right h6{
padding: 20px;
}

/* FOOTER */
.footer{
    margin-top: 2.5rem;
    background-color:#131416;
    border-radius: 15px;
    
}
.footer-one{

    position: relative;
    z-index: 2;
    
}
.footer-one .container {
    background: #eeeff6;
    border-radius: 2px;
    padding: 50px;
}
.btn{
    color: #fff;
    background-color: #5952e4;
    border-color: #5952e4;
    min-width: 190px;
    border-radius: 35px;
    line-height: 30px;
}
.btn:hover{
    color: #fff;
}
.footer-two h6{
    color: #fff;
    
}
div.items ul > li{
    padding-top: 10px;
}
div.items ul > li > a {
    color:rgba(238,239,246,.5);
    padding-top: 15px;
}
.social > a{
    padding-right: 17px;
    transition: .4s;
}
.tomya-end  {
    color: rgba(238,239,246,.5) !important;
    font-size: 12px;
    line-height: 18px;
}
.right-side-bar{
    display: none;
}
.mainSubMenuBg{
    display: none;
}
#YanMenu a:hover{
    color: #24242a;
}
.accordion{
    display: none;
}

/* Media Screan */
@media screen and (max-width:990px ){
    .header-logo img{
       margin-bottom: 35px;
    }
    .right-side-bar{
        display: block;
    }
    .coins img {
        margin-left: 25px;
        max-width: 90%;
        margin-bottom: -10px;
    }
    .accordion{
        display: block;
        
    }
    .container > .item >.items {
        display: none;
    }
    .main-menu-five .container .box{background: #eeeff6;
        border-radius: 10px;
        padding: 34px 34px 24px;
        height: 533px;
        position: relative;
        margin-top: -109px;
    }} 
    /* .item > .items {
        margin-top: 300px !important;
    } */




@media screen and (max-width:1245px ){

}
@media screen and (max-width:1250px ){
    
}

/* SideNav */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #eeeff6;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 100px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #24242a;
    display: block;
    padding:10px;
    transition: 0.3s;
    font-weight: bold;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 30px;
    margin-left: 50px;
    background: #5952e4;
    color: #fff;
    border-radius: 10px;
    margin-top:15px ;
  }
  
  #main {
    transition: margin-right .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}

 }
